<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnalysisAssist
    </title>
    <!-- Load Blockly Scripts -->
    <script src="https://unpkg.com/blockly/blockly.min.js"></script>
    <script src="https://unpkg.com/blockly/python_compressed.js"></script>

    <!-- Load Skulpt Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script> 
    <script src="{{ url_for('static', filename='scripts/skulpt.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/skulpt-stdlib.js') }}" defer></script>
    <!-- Load main JavaScript -->
    <script src="{{ url_for('static', filename='scripts/main.js') }}" defer></script>
    <!-- Load stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <h1>AnalysisAssist</h1>
    <div class="grid-container">
        <div class="grid-child purple">
            <div class="grid-child">
                <button id="createVariableBtn">Create Variable</button>
                <button id="loadWorkspace" style="float: right">Load Workspace</button>
                <button id="saveWorkspace" style="float: right">Save Workspace</button>
            </div>
            <div class="grid-child">
                <div id="blocklyDiv"></div>
            </div>
        </div>
        <div class="grid-child green">
            <div id="codeBox">
                <div class="grid-container" style="height: 40px">
                    <h3 class="grid-child" style="margin-left:10px">Python Code:</h3>
                    <div class="grid-child">
                        <button id="generateCodeBtn" style="float: right; margin:20px">Generate Code</button>
                    </div>
                </div>
                <pre id="pythonCode" style="width: 95%; margin: auto; margin-top: 10px; height: 85%; background-color: lightgray; overflow-y: scroll; overflow-x: scroll;"></pre>
            </div>
            <div class="grid-child">
                <button id="runCodeBtn" style="float: right; margin:10px">Run Code in Terminal (for print outputs only)</button>
                <form id="myForm" action="/runCode" method="post">
                    <label for="code"></label>
                    <input type='hidden' id= 'code' name='code' value='' />
                </form>
                <button onclick="mySubmit()" style="float: left; margin:10px">Generate Dataframe</button>
                <button onclick="mySubmit()" style="float: left; margin:10px">Generate Graph</button>
                <script> 
                    function mySubmit() {
                       pythonCode = document.getElementById('pythonCode').innerText;
                       document.getElementById('code').value = pythonCode;
                       document.getElementById("myForm").submit();
                    }
                </script>  
            </div>
        </div>
    </div> 
    <div id="outputBox" style="margin-top:20px">
        <div class="grid-container" style="height: 40px">
            <h3 class="grid-child" style="margin-left:10px">Terminal:</h3>
        </div>
        <pre id="codeOutput" style="width: 95%; margin: auto; margin-top: 10px; height: 165px; background-color: lightgray; overflow-y: scroll; overflow-x: scroll;"></pre>
    </div>
</body>
</html>
